In [ ]:
# https://sparkbyexamples.com/pyspark/pyspark-window-functions/

In [1]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

In [2]:
from pyspark.sql import functions as F

In [3]:
sc = SparkContext()

In [4]:
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [7]:
name_list = ['James','Scott']

In [8]:
name_df = sc.parallelize(name_list).map(lambda x: (x, )).toDF(["employee_name"])

In [9]:
name_df.show()

+-------------+
|employee_name|
+-------------+
|        James|
|        Scott|
+-------------+

In [10]:
df.join(name_df, ["employee_name"], "inner").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|        James|     Sales|  3000|
|        James|     Sales|  3000|
+-------------+----------+------+

In [15]:
df.count()

10

In [16]:
name_df

DataFrame[employee_name: string]

In [12]:
df.join(name_df, ["employee_name"], "inner").show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|        James|     Sales|  3000|
|        James|     Sales|  3000|
+-------------+----------+------+

In [22]:
df.join(name_df, on=['employee_name'], how='left_anti').show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|          Jen|   Finance|  3900|
|      Michael|     Sales|  4600|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
|        Maria|   Finance|  3000|
|       Robert|     Sales|  4100|
|         Jeff| Marketing|  3000|
+-------------+----------+------+

In [21]:
df.join(name_df, on=['employee_name'], how='full').show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Scott|   Finance|  3300|
|        James|     Sales|  3000|
|        James|     Sales|  3000|
|          Jen|   Finance|  3900|
|      Michael|     Sales|  4600|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
|        Maria|   Finance|  3000|
|       Robert|     Sales|  4100|
|         Jeff| Marketing|  3000|
+-------------+----------+------+

In [ ]:
name_df.join(df, ["employee_name"], "inner").show()

In [ ]:
df.join(name_df, ["employee_name"], "inner").withColumn('salary', F.col("salary")*100).show()

In [25]:
df.select('employee_name').show()

+-------------+
|employee_name|
+-------------+
|        James|
|      Michael|
|       Robert|
|        Maria|
|        James|
|        Scott|
|          Jen|
|         Jeff|
|        Kumar|
|         Saif|
+-------------+